<div class="header">
  <div class="user-info">
  </div>

  <div class="admin-button" [ngClass]="{ 'active': showDropdown }" (click)="toggleDropdown()">
    <span class="admin-text">{{ userName }} {{ userLastName }}</span>
    <div class="admin-image">
      <img class="avatar" [src]="avatarImg ? avatarImg : '../../../../assets/img/usuario-black.png'"/>
    </div>
    <div class="admin-dropdown">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/admin/home/profile" >Perfil</a>
        </li>
        <li (click)="logout()">Cerrar sesión</li>
      </ul>
    </div>
  </div>
</div>


<div class="sidebar" [style.width.px]="sidebarWidth" [class.closed]="sidebarClosed">
  <div class="logo-upper" (click)="toggleSidebar()">
    <img src="./assets/img/logo-duarte-letras.png" alt="CarnesDuarteUpper">
  </div>

  <ul class="menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" [class.closed]="sidebarClosed">
      <a routerLink="/admin/home/dashboard" *ngIf="!sidebarClosed">Dashboard</a>
      <span *ngIf="sidebarClosed" routerLink="/admin/home/dashboard">D..</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" [class.closed]="sidebarClosed">
      <a routerLink="/admin/home/gestionar-productos" *ngIf="!sidebarClosed">Productos</a>
      <span *ngIf="sidebarClosed" routerLink="/admin/home/gestionar-productos">P..</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" [class.closed]="sidebarClosed">
      <a routerLink="/admin/home/gestionar-usuarios" *ngIf="!sidebarClosed">Usuarios</a>
      <span *ngIf="sidebarClosed" routerLink="/admin/home/gestionar-usuarios">U..</span>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" [class.closed]="sidebarClosed">
      <a routerLink="/admin/home/revisar-pedidos" *ngIf="!sidebarClosed">Pedidos</a>
      <span *ngIf="sidebarClosed" routerLink="/admin/home/revisar-pedidos">P..</span>
    </li>

  </ul>
  <div class="separator"></div>
  <button class="logout-button">
    <span *ngIf="!sidebarClosed" (click)="logout()">Cerrar sesión</span>
    <img *ngIf="sidebarClosed" (click)="logout()" src="./assets/img/logout.png" alt="LogOut">
  </button>
  <div class="logo-lower">
    <img src="./assets/img/logo-duarte-circ.png" alt="CarnesDuarteLower">
  </div>
</div>

<div class="content" [class.closed]="sidebarClosed">
  <router-outlet></router-outlet>
</div>
