<section>
  <div class="mx-auto max-w-2xl lg:text-center mt-10 mb-10">
    <img
      src="../../../assets/img/img-duarte/logo-duarteletra-rojo-nofit2.png"
      alt="logo-duarte-letras-rojo"
      style="width: 600px; display: block; margin: 0 auto"
    />
  </div>

  <div class="col text-center text-red-700 mb-10" style="text-shadow: 0px 23px 10px rgba(208, 20, 28, 0.3);">
    <h2 class="text-5xl font-semibold">Tradición Familiar</h2>
  </div>
</section>

<carousel-component></carousel-component>
