 <main>
    <div class="container">
      <!-- imagen carnes duarte rojo -->
      <div style="display: flex;">
        <img src="../../../assets/img/img-duarte/logo-duarteletra-rojo-nofit2.png" alt="logo-duarte-letras-rojo" class="img-fluid" style="width: 600px; display: block; margin: 0 auto;" />
      </div>

      <!-- Título: Tradición Familiar -->
      <div class="row mt-1">
        <div class="col text-center">
          <h2 id="titulo-inicio">Tradición Familiar</h2>
        </div>
      </div>
      <img
        src="../../../assets/img/img-duarte/fondocarne.png"
        alt="fondocarne"
        class="img-fluid"
        style="max-width: 100%; height: auto; display: block; margin: 0 auto"
      />
    </div>
  </main>

