<html>
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0 mb-0 border-bottom"
  >
    <div class="col-md-3 mb-2">
      <a
        href="/dashboard"
        class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        <img
          class="logo-duarte-letras"
          src="../../../assets/img/logo-duarte-letras.png"
          alt="logo-duarte-letras"
      /></a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/inicio" class="nav-link px-2">Inicio</a></li>
      <li><a href="/productos" class="nav-link px-2">Productos</a></li>
      <li><a href="/mis-pedidos" class="nav-link px-2">Mis Pedidos</a></li>
      <li><a href="/mis-datos" class="nav-link px-2">Mis Datos</a></li>
      <li>
        <a href="/sobre-nosotros" class="nav-link px-2 link-secondary">Sobre Nosotros</a>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary">
        Cerrar Sesión
      </button>
    </div>
  </header>
  <main>
    <div class="container">
      <!-- Título: Quiénes Somos -->
      <div class="row">
        <div class="col text-center">
          <h1>Carnes Duarte</h1>
        </div>
      </div>

      <!-- Título: Tradición Familiar -->
      <div class="row mt-1">
        <div class="col text-center">
          <h2>Tradición Familiar</h2>
        </div>
      </div>

      <!-- Imagen y Descripción -->
      <div class="row mt-4">
        <div class="col-md-6 text-center">
          <img
            src="../../../assets/img/img-duarte/carnesduarte-tradicionfamiliar.png"
            alt="Tradición Familiar"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <p style="font-size: large;">
            En <strong>Carnes Duarte</strong>, nos enorgullecemos de ofrecer y proveer los
            mejores cortes de carne de vacuno, cerdo y pollo. Nuestra tradición
            familiar se remonta a más de tres generaciones, dedicadas a
            proporcionar productos cárnicos de alta calidad a nuestros clientes.
            Nuestra experiencia y pasión por lo que hacemos nos permite ofrecer
            un servicio personalizado y garantizar la satisfacción de nuestros
            clientes.
          </p>
          <p style="font-size: large;">
            <strong>Ana María Duarte Riquelme</strong>, es quien le dio vida a
            este emprendimiento familiar el año 2009, con el pasar de los años,
            se ubicó entre los locales mas conocidos del mercado, abasteciendo a
            importantes restaurantes Chilenos, y hoy en día una aliada de muchos
            inmigrantes que disfrutan de la calidad de sus productos y la
            excelente atención que a <strong>Carnes Duarte</strong> le
            caracteriza.
          </p>
        </div>
      </div>

      <!-- Título: Ubicación y Horarios -->
      <div class="row mt-3">
        <div class="col text-center">
          <h2>Ubicación y Horarios</h2>
        </div>
      </div>

      <!-- Información de Ubicación y Horarios -->
      <div class="row mt-4">
        <div class="col">
          <h4>Dirección:</h4>
          <ul>
            <li>Franklin #946 - Local 151-162 - Mercado Matadero Franklin</li>
          </ul>
          <h4>Horarios de Atención:</h4>
          <ul>
            <li>Lunes a Viernes: 8:00 AM - 8:00 PM</li>
            <li>Sábado: 8:00 AM - 6:00 PM</li>
            <li>Domingo: 9:00 AM - 2:00 PM</li>
          </ul>
          <h4>Horarios de Delivery:</h4>
          <ul>
            <li>Lunes a Domingo: 10:00 AM - 8:00 PM</li>
          </ul>
          <h4>Contacto:</h4>
          <p class="mb-0">Envianos un correo a:</p>
          <a href="mailto:hola.carnesduarte@gmial.com"
            >hola.carnesduarte@gmial.com</a
          >
          <p>o llámanos al: +569 915 900 73</p>
          <h3 class="mt-3">
            <strong>¡Delivery disponible por compras sobre $40,000!</strong>
          </h3>
        </div>
      </div>
    </div>
  </main>
  <footer class="py-5 my-0">
    <div class="container" style="background-color: rgba(206, 0, 25, 0.6)">
      <div class="row align-items-center">
        <div class="col-md-3 mb-2 mb-md-0">
          <a
            href="/inicio"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img
              class="logo-duarte-letras"
              src="../../../assets/img/logo-duarte-letras.png"
              alt="logo-duarte-letras"
            />
          </a>
        </div>
        <div class="col-md-9">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
              <a href="/inicio" class="nav-link px-2 text-body-secondary">Inicio</a>
            </li>
            <li class="nav-item">
              <a href="/productos" class="nav-link px-2 text-body-secondary"
                >Productos</a
              >
            </li>
            <li class="nav-item">
              <a href="/mis-pedidos" class="nav-link px-2 text-body-secondary"
                >Mis Pedidos</a
              >
            </li>
            <li class="nav-item">
              <a href="/mis-datos" class="nav-link px-2 text-body-secondary"
                >Mis Datos</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/sobre-nosotros"
                class="nav-link px-2 link-secondary"
                >Sobre Nosotros</a
              >
            </li>
          </ul>
          <p class="text-center text-body-secondary">©2024 Carnes Duarte</p>
        </div>
      </div>
    </div>
  </footer>
</html>
