<div class="dashboard">
  <div class="charts-container">
    <div class="card large-card">
      <div class="card-body">
        <div id="totalOrders" class="chart"></div>
        <div id="ordersByMonth" class="chart"></div>
      </div>
    </div>
  </div>

  <div class="charts-container">
    <div class="card">
      <div class="card-body">
        <div id="pollo" class="chart"></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="vacuno" class="chart"></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="cerdo" class="chart"></div>
      </div>
    </div>
  </div>
</div>
