.dashboard {
  background: #f1efef;
  padding: 20px;
  height: calc(100vh - 100px);
}

.dashboard-header {
  background: linear-gradient(to right, #f8e69f, #f4f4f4); /* Gradiente de izquierda a derecha */
  text-align: start;
  padding: 10px 20px; /* Ajuste el padding según necesite */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para distribuir elementos a los lados */
}

.dashboard-header h3 {
  margin: 0;
}

.charts-container-line {
  display: flex;
  justify-content: space-around; /* Espacio entre las tarjetas */
  padding: 5px 11px 10px 11px;
}

.charts-container-cake {
  display: flex;
  justify-content: space-around; /* Espacio entre las tarjetas */
  padding: 5px 0 8px 0;
}

.card {
  width: 30%; /* Ancho de cada tarjeta */
  margin-right: 10px; /* Espacio entre las tarjetas */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
}

.large-card {
  width: 48%; /* Ancho para las tarjetas grandes */
}

.chart {
  width: 100%; /* Ajustar el ancho del gráfico dentro de la tarjeta */
  height: 300px; /* Ajustar la altura del gráfico dentro de la tarjeta */
}
