.dashboard {
  background: #e5e5e5;
}

.charts-container {
  display: flex;
  justify-content: space-around; /* Espacio entre las tarjetas */

}

.card {
  width: 30%; /* Ancho de cada tarjeta */
  margin-right: 10px; /* Espacio entre las tarjetas */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
}

.large-card {
  width: 48%; /* Ancho para las tarjetas grandes */
}

.chart {
  width: 100%; /* Ajustar el ancho del gráfico dentro de la tarjeta */
  height: 300px; /* Ajustar la altura del gráfico dentro de la tarjeta */
}
