<div class="dashboard">
  <div class="dashboard-header">
    <div>
      <h3>Lista de Usuarios</h3>
    </div>
  </div>
  <div class="card">
    <div class="dashboard-content">
      <div class="filter-container">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Buscar por nombre de usuario..."
          class="filter-input"
          (input)="onSearch()"
        />
      </div>
      <table>
        <thead>
          <tr>
            <th class="center">#</th>
            <th style="width: 15%">Nombre</th>
            <th style="width: 15%">Rut</th>
            <th style="width: 20%">Email</th>
            <th style="width: 10%">Teléfono</th>
            <th style="width: 10%">Rol</th>
            <th>Habilitar como administrador</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers; let i = index">
            <td class="center">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
            <td>{{ capitalizeFirstLetter(user.nombre) }} {{ capitalizeFirstLetter(user.apellido) }}</td>
            <td>{{ formatRutUserData(user.rut) }}</td>
            <td>{{ capitalizeFirstLetter(user.email) }}</td>
            <td>{{ user.telefono }}</td>
            <td>{{ capitalizeFirstLetter(user.rol) }}</td>
            <td>
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="user.rol === 'administrador'"
                  (change)="toggleAdmin(user)"
                />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        <p>Página {{ currentPage }} de {{ totalPages }}</p>
      </div>
    </div>
  </div>
</div>
