<div class="p-10 sm:p-10 flow-root overflow-hidden">
  <div class="mt-20 sm:mt-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <p
          class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-balance sm:text-5xl"
        >
          Lista de Pedidos
        </p>
        <p *ngIf="paginatedOrders.length > 0" class="mt-6 text-lg/8 text-gray-600 w-full text-center">
          Revisa tus pedidos realizados. Aquí podrás ver un resumen de tus pedidos pasados, los productos que
          has adquirido, así como los detalles del valor total de cada pedido. Si necesitas realizar algún
          seguimiento o modificación, puedes acceder al detalle de cada uno de ellos para obtener más
          información. ¡Gracias por elegirnos!
        </p>
        <p *ngIf="!isLoggedIn && !isLoading" class="mt-6 text-lg/8 text-gray-600">
          Inicia sesión para ver tus pedidos realizados.
        </p>
      </div>
    </div>
  </div>
  <div class="p-10 sm:p-10 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
          <div class="flex items-center justify-center space-x-4 p-8" *ngIf="isLoading && isLoggedIn">
            <div
              class="w-12 h-12 border-4 border-t-4 border-gray-200 border-t-primary rounded-full animate-spin"
            ></div>
            <p class="text-xl text-gray-700 font-semibold">Cargando pedidos...</p>
          </div>
          <table *ngIf="paginatedOrders.length > 0" class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Fecha de emisión
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Productos
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Valor</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Ver Detalle</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr *ngFor="let order of paginatedOrders" class="even:bg-gray-50">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                  {{ formatDate(order.createdAt) }} Hora: {{ formatTime(order.createdAt) }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div matTooltip="{{ getCorteNames(order) }}">
                    {{ getShortCorteNames(order) }}
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ order.total | currency: 'CLP ' : 'symbol' : '1.0-0' }}
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a
                    [routerLink]="'/home/mis-pedidos/' + order.id + '/detalle-del-pedido'"
                    class="text-carnesDuarteRed hover:text-red-800"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
            </tbody>
          </table>

          <div
            *ngIf="paginatedOrders.length === 0 && !isLoading"
            class="flex justify-center items-center w-full"
          >
            <img
              src="assets/img/img-duarte/nodata.webp"
              alt="No Data"
              class="no-data-image max-w-xs sm:max-w-md object-contain"
            />
          </div>
        </div>
      </div>
    </div>

    <nav
      *ngIf="paginatedOrders.length > 0"
      class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
      aria-label="Pagination"
    >
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Mostrando
          <span class="font-medium">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>
          a
          <span class="font-medium">{{
            currentPage * itemsPerPage < orders.length ? currentPage * itemsPerPage : orders.length
          }}</span>
          de
          <span class="font-medium">{{ orders.length }}</span>
          resultados
        </p>
      </div>
      <div class="flex flex-1 justify-between sm:justify-end">
        <button
          class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          (click)="previousPage()"
          [disabled]="currentPage === 1"
        >
          Anterior
        </button>
        <button
          class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          Siguiente
        </button>
      </div>
    </nav>
  </div>
</div>
