<html>
<header-component></header-component>
<main>
  <div class="container">
    <!-- Título: Quiénes Somos -->
    <div class="row">
      <div class="col text-center">
        <h1>Carnes Duarte</h1>
      </div>
    </div>

    <!-- Título: Tradición Familiar -->
    <div class="row mt-1">
      <div class="col text-center">
        <h2>Tradición Familiar</h2>
      </div>
    </div>
    <img
      src="../../../assets/img/img-duarte/fondocarne.png"
      alt="fondocarne"
      class="img-fluid"
      style="max-width: 100%; height: auto; display: block; margin: 0 auto"
    />
  </div>
</main>
<footer-component></footer-component>
</html>
