.orders-section {
  background: linear-gradient(to right, #fdfdfd, #575656);
  padding: 1.5rem;
}

.orders-header {
  max-width: 112rem;
  margin: 0 auto;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.orders-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #000000;
  line-height: 2.25rem;
}

.orders-description {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #000000;
}

.table-container {
  margin-top: 2rem;
  max-height: 550px; /* Tama침o fijo vertical */
  overflow-y: auto; /* Scroll vertical si necesario */
}

.table-wrapper {
  width: 100%;
}

.orders-table {
  width: 100%;
  table-layout: fixed; /* Fijar el ancho de la tabla */
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem; /* A침adido border-radius */
}

.orders-table th,
.orders-table td {
  border: 1px solid #d1d5db;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #1f2937;
}

.orders-table th {
  background-color: #f3f4f6;
}

.orders-table td {
  padding: 0.5rem; /* Reducir el espaciado entre filas */
  font-size: 0.875rem;
  color: #6b7280;
}

.corte-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end; /* Alineaci칩n a la derecha */
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container span {
  font-size: 1rem;
  font-weight: 600;
}

.detail-button {
  background-color: #cb0303;
  color: #ffffff;
  border: none;
  padding: 0.200rem 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-left: 0.5rem; /* Espaciado a la izquierda del bot칩n */
}

.detail-button:hover {
  background-color: #800000;
}
