<div class="orders-section">
  <div class="orders-header">
    <h2 class="orders-title">Órdenes de Compra</h2>
    <p class="orders-description">Revisa tus órdenes de compra realizadas.</p>
  </div>

  <div class="table-container">
    <div class="table-wrapper">
      <table class="orders-table">
        <thead>
        <tr>
          <th>Fecha de Emisión</th>
          <th>Productos</th>
          <th>Valor</th>
          <th>Acciones</th> <!-- Nueva columna para ver detalle -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of paginatedOrders">
          <td>{{ formatDate(order.createdAt) }} Hora: {{ formatTime(order.createdAt) }}</td>
          <td>
            <div class="corte-list" matTooltip="{{ getCorteNames(order) }}">
              {{ getShortCorteNames(order) }}
            </div>
          </td>
          <td>{{ order.total | currency: 'CLP ': 'symbol':'1.0-0' }}</td>
          <td>
            <button class="detail-button" (click)="order.id && goToOrderDetail(order.id)">Ver Detalle</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-container">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-button">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">Siguiente</button>
  </div>
</div>
