.team-section {
  background: linear-gradient(to right, #fdfdfd, #575656);
  padding: 1.5rem;
}

.team-header {
  max-width: 112rem;
  margin: 0 auto;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.team-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #000000;
  line-height: 2.25rem;
}

.team-description {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #000000;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter-item input,
.filter-item select,
.filter-item button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #9ca3af;
  color: #1a202c;
}

.filter-input,
.filter-select {
  flex: 1;
  min-width: 250px;
}

.filter-button {
  flex: none;
}

.primary-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.primary-button:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 2rem;
  max-height: 550px; /* Tamaño fijo vertical */
  overflow-y: auto; /* Scroll vertical si necesario */
}

.table-wrapper {
  width: 100%;
}

.user-table {
  width: 100%;
  table-layout: fixed; /* Fijar el ancho de la tabla */
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem; /* Añadido border-radius */
}

.user-table th,
.user-table td {
  border: 1px solid #d1d5db;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #1f2937;
}

.user-table th {
  background-color: #f3f4f6;
}

.user-table td {
  padding: 0.5rem; /* Reducir el espaciado entre filas */
  font-size: 0.875rem;
  color: #6b7280;
}

.user-table .fixed-width-column {
  width: 350px; /* Ancho fijo para la primera columna */
}

.preparation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.preparation-item {
  background-color: #e5e7eb;
  color: #111827;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.pagination-container {
  display: flex;
  justify-content: flex-end; /* Alineación a la derecha */
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container span {
  font-size: 1rem;
  font-weight: 600;
}

.add-to-cart-button {
  background-color: #cb0303;
  color: #ffffff;
  border: none;
  padding: 0.200rem 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-left: 0.5rem; /* Espaciado a la izquierda del botón */
}

.add-to-cart-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.add-to-cart-button:hover:not(:disabled) {
  background-color: #800000;
}
