.btn {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: white;
    --bs-btn-active-bg: rgba(206, 0, 25, 0);
    --bs-btn-active-border-color: rgba(0, 0, 0, 0.9);
}

h1 {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}