<!-- <p>recuperar-password works!</p> -->

<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo-duarte-circ" src="../../../assets/img/logo-duarte-circ.png" alt="logo-duarte-circ">
        <h1 class="display-5">Recuperar Contraseña</h1>
        <p>Ingrese su correo electrónico:</p>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="errorlabel">El <strong>email</strong> es requerido</span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email')" class="errorlabel">Ingrese un <strong>email</strong> válido</span>
            </div>
            <div class="d-grid gap-2 mb-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid">Ingresar</button>
            </div>
            <p><a routerLink="/login">volver</a></p>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>