.dashboard {
  background: #f1efef;
  padding: 20px;
  min-height: calc(100vh - 100px);
}

.dashboard-header {
  background: linear-gradient(to right, #f8e69f, #f4f4f4);
  text-align: start;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-header h3 {
  margin: 0;
}

.nav-route {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-button {
  color: #000000;
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.nav-button:hover {
  background-color: #edf2f7;
  color: #3e4348;
  border-color: #cbd5e0;
}

.card {
  background-color: #ffffff;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card input,
.card select,
.button-search {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.button-search {
  background-color: #c10101;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-search:hover {
  background-color: #940000;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Permitir desplazamiento horizontal en tablas largas */
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; /* Eliminar espacios entre celdas */
}

th,
td {
  border: 1px solid #cbd5e0;
  padding: 8px; /* Ajustar el padding para reducir el espacio entre celdas */
  text-align: left;
  line-height: 1.4; /* Ajustar la altura de línea para compactar el espacio */
}

th {
  background-color: #000000;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* Alinear elementos al final */
}

.pagination button {
  background-color: #c10101;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #940000;
}

.pagination p {
  margin: 0 10px;
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-route {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    padding: 15px;
  }

  .card input,
  .card select,
  .button-search {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination button {
    margin: 5px 0;
  }
}

.remove-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

/* Interruptor (switch) personalizado */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c30000;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.filter-input {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.no-orders-message {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-orders-message p {
  margin: 0;
  font-weight: bold;
  color: #c10101; /* Rojo para llamar la atención */
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el switch y el texto */
}

.status-text {
  font-size: 14px;
  font-weight: bold;
  color: #333; /* Color predeterminado del texto */
}

.status-text.finalizada {
  color: #2ecc71; /* Verde para finalizada */
}

.status-text.pendiente {
  color: #e74c3c; /* Rojo para pendiente */
}

.center {
  text-align: center;
  vertical-align: middle; /* Esto asegura que el contenido también se alinee verticalmente al centro */
}

.detail-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #0056b3;
}
