<section>
  <div
    *ngIf="!isLoggedIn && !isLoading"
    class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-red-50 via-red-50 to-white-50 p-6"
  >
    <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="flex justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-16 h-16 text-blue-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-9A2.25 2.25 0 002.25 5.25v13.5A2.25 2.25 0 004.5 21h9a2.25 2.25 0 002.25-2.25V15M21 12H7.5m3-3l-3 3m3 3l-3-3"
          />
        </svg>
      </div>
      <h2 class="text-2xl font-bold text-gray-800">Inicia sesión para acceder a tu perfil</h2>
      <p class="text-gray-600">Accede a tu perfil para disfrutar de todas las funcionalidades.</p>
      <div class="text-sm">
        <p class="text-gray-500">
          ¿No tienes cuenta?
          <a
            routerLink="/registrarse"
            class="text-blue-600 font-medium hover:underline hover:text-blue-500 transition duration-200"
          >
            Regístrate aquí
          </a>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="overflow-hidden rounded-lg bg-white shadow-md">
    <div
      class="mx-auto p-4 bg-gradient-to-r from-yellow-50 via-yellow-100 to-yellow-50 rounded-t-lg shadow-inner"
    >
      <div class="flex items-center justify-between border-b border-gray-300 pb-4">
        <h2 class="text-2xl font-semibold text-gray-900 tracking-tight">Mi perfil</h2>
        <a
          routerLink="/home/perfil/editar"
          class="flex items-center gap-2 text-sm font-medium text-gray-900 hover:text-gray-700 transition duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 3.487a2.25 2.25 0 011.13-.937c.78-.312 1.663.07 2.007.85.38.866.366 1.921-.046 2.848a9.042 9.042 0 01-1.741 2.362L9.41 20.435a2.25 2.25 0 01-.843.51l-4.205 1.221a.75.75 0 01-.939-.94l1.22-4.205a2.25 2.25 0 01.51-.842l8.803-8.804a9.042 9.042 0 012.362-1.742z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.729 6.728l-.728-.728m-3.186 7.52l-5.025-5.026m4.847 4.847l.354-.353a1.125 1.125 0 10-1.591-1.591l-.353.354m1.59 1.59l-.353.354m.354-.354l-.354.354"
            />
          </svg>
          Editar Perfil
        </a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 mx-5 sm:mx-8 lg:mx-16 my-8">
      <div class="mt-4 flex justify-between items-center mb-4 mx-4">
        <div>
          <h2 class="text-base font-semibold text-gray-900">Información del usuario</h2>
          <p class="mt-1 text-sm text-gray-600">Datos personales</p>
        </div>
        <div class="flex items-center">
          <img
            class="avatar rounded-full w-12 h-12 object-cover border-2 border-black"
            [src]="avatarImg ? avatarImg : '../../../../assets/img/usuario-black.png'"
          />
        </div>
      </div>
      <div class="mt-6">
        <dl class="grid grid-cols-1 sm:grid-cols-2">
          <div class="border-t border-gray-300 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Nombre</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2">
              {{ capitalizeFirstLetter(userName) }}
              {{ capitalizeFirstLetter(userSecondName) }}
              {{ capitalizeFirstLetter(userLastName) }}
              {{ capitalizeFirstLetter(userSecondLastName) }}
            </dd>
          </div>
          <div class="border-t border-gray-300 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Rut</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2">
              {{ formatRutUserData(rut) }}
            </dd>
          </div>
          <div class="border-t border-gray-300 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Dirección</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2">
              {{ capitalizeFirstLetter(address) }}
            </dd>
          </div>
          <div class="border-t border-gray-300 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Teléfono</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2">
              {{ phone }}
            </dd>
          </div>
          <div class="border-t border-gray-300 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Correo</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2">
              {{ email }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>

<div class="bg-white shadow">
  <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
    <div class="py-6 md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <div class="flex items-center">
          <img
            class="hidden size-16 rounded-full sm:block"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
            alt=""
          />
          <div>
            <div class="flex items-center">
              <img
                class="size-16 rounded-full sm:hidden"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                alt=""
              />
              <h1 class="ml-3 text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-2xl/9">Dashboard</h1>
            </div>
            <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
              <dt class="sr-only">Company</dt>
              <dd class="flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6">
                <svg
                  class="mr-1.5 size-5 shrink-0 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 16.5v-13h-.25a.75.75 0 0 1 0-1.5h12.5a.75.75 0 0 1 0 1.5H16v13h.25a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75v-2.5a.75.75 0 0 0-.75-.75h-2.5a.75.75 0 0 0-.75.75v2.5a.75.75 0 0 1-.75.75h-3.5a.75.75 0 0 1 0-1.5H4Zm3-11a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM11 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm.5 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"
                    clip-rule="evenodd"
                  />
                </svg>
                Duke street studio
              </dd>
              <dt class="sr-only">Account status</dt>
              <dd class="mt-3 flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6 sm:mt-0">
                <svg
                  class="mr-1.5 size-5 shrink-0 text-green-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
                Verified account
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="mt-6 flex space-x-3 md:ml-4 md:mt-0">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          Add money
        </button>
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-cyan-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600"
        >
          Send money
        </button>
      </div>
    </div>
  </div>
</div>
