<!-- <p>verificar-correo works!</p> -->

<div class="wrapper">
    <div class="body">
        <img class="logo-duarte-circ" src="../../../assets/img/logo-duarte-circ.png" alt="logo-duarte-circ">
        <h1 class="display-5 fw-bold">Verifique su Correo</h1>
        <h5 style="color: whitesmoke;">Le enviamos un correo electrónico para verificar su cuenta</h5>
        <div class="d-grid gap-2 mb-2">
            <button type="button" class="btn btn-primary btn-lg mt-1" routerLink="/login">Volver</button>
        </div>
    </div>
</div>