<div class="dashboard">
  <div class="dashboard-header">
    <div>
      <h3>Lista de Productos</h3>
    </div>
    <div class="nav-route">
      <a class="nav-button" (click)="openModal()">Agregar Productos</a>
    </div>
  </div>

  <div class="card">
    <div>
      <input [(ngModel)]="searchQuery" placeholder="Buscar por nombre..." (keyup.enter)="onSearch()" />
      <select [(ngModel)]="selectedCarne" (change)="onCarneChange()">
        <option [ngValue]="''" disabled selected>Seleccionar tipo de carne</option>
        <option [ngValue]="'all'">Mostrar todo</option>
        <option *ngFor="let carne of carnes" [ngValue]="carne.tipo">
          {{ capitalizeFirstLetter(carne.tipo) }}
        </option>
      </select>
      <select [(ngModel)]="selectedPreparation" [disabled]="!selectedCarne && selectedCarne !== 'all'">
        <option [ngValue]="''" disabled selected>Seleccionar preparación</option>
        <option [ngValue]="'all'">Mostrar todo</option>
        <option value="sin-preparaciones">Sin preparaciones</option>
        <option *ngFor="let preparation of getPreparations()">{{ preparation }}</option>
      </select>

      <button class="button-search" (click)="onSearch()">Buscar</button>
    </div>

    <div class="table-container">
      <table class="props-table">
        <thead>
          <tr>
            <th class="center">#</th>
            <th style="width: 30%">Nombre</th>
            <th style="width: 15%">Tipo de Carne</th>
            <th style="width: 15%">Precio por Kilo</th>
            <th style="width: 30%">Preparaciones</th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let corte of paginatedCortes; let i = index">
            <td class="center">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
            <td>
              <a class="detail-button" (click)="editarCorte(corte)" title="Editar este corte">
                {{ corte.nombre }}
              </a>
            </td>

            <td>{{ capitalizeFirstLetter(corte.carne) }}</td>
            <td>{{ corte.precioPorKilo | currency: '$ ' : 'symbol' : '1.0-0' }}</td>
            <td>{{ corte.preparaciones ? corte.preparaciones.join(', ') : '-' }}</td>
            <td style="text-align: center">
              <button class="remove-button" (click)="eliminarCorte(corte)">
                <img src="assets/img/img-duarte/eliminar.webp" class="delete-webp" alt="Eliminar ítem" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        <p>Página {{ currentPage }} de {{ totalPages }}</p>
      </div>
    </div>
  </div>
</div>

<agregar-productos *ngIf="showModal" (closeModal)="closeModal()"></agregar-productos>
