<div *ngIf="isLoggedIn" class="dashboard">
  <div
    class="mx-auto p-4 bg-gradient-to-r from-yellow-50 via-yellow-100 to-yellow-50 rounded-t-lg shadow-inner"
  >
    <div class="bg-white shadow">
      <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between">
          <div class="min-w-0 flex-1">
            <div class="flex items-center">
              <img
                class="hidden size-16 rounded-full sm:block"
                [src]="avatarImg ? avatarImg : '../../../../assets/img/usuario-black.png'"
                alt="avatar"
              />
              <div>
                <div class="flex items-center">
                  <img
                    class="size-16 rounded-full sm:hidden"
                    [src]="avatarImg ? avatarImg : '../../../../assets/img/usuario-black.png'"
                    alt="avatar"
                  />
                  <h1 class="ml-3 text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-2xl/9">Editar información personal</h1>
                </div>
                <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dd class="flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6">
                    Datos personales
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="mt-6 flex space-x-3 md:ml-4 md:mt-0">
            <input
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              style="display: none"
              id="fileInput"
            />
            <button
              (click)="openFileInput()"
              type="button"
              class="inline-flex items-center rounded-md bg-red-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600"
            >
              Actualizar foto
            </button>
            <button
              (click)="openPasswordModal()"
              type="button"
              class="inline-flex items-center rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600"
            >
              Cambiar contraseña
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form
  (ngSubmit)="saveUserData()"
  #profileForm="ngForm"
  class="mt-5 w-full max-w-full p-6 bg-white shadow-lg rounded-lg border-t border-gray-300"
>
  <div *ngIf="savingData" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <div class="space-y-12">
    <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="nombre" class="block text-sm font-medium text-gray-900">Nombre</label>
        <div class="mt-2">
          <input
            type="text"
            name="nombre"
            id="nombre"
            [(ngModel)]="nombre"
            required
            autocomplete="given-name"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="segundoNombre" class="block text-sm font-medium text-gray-900">Segundo nombre</label>
        <div class="mt-2">
          <input
            type="text"
            name="segundoNombre"
            id="segundoNombre"
            [(ngModel)]="segundoNombre"
            autocomplete="family-name"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="apellido" class="block text-sm font-medium text-gray-900">Apellido Paterno</label>
        <div class="mt-2">
          <input
            id="apellido"
            name="apellido"
            type="text"
            [(ngModel)]="apellido"
            required
            autocomplete="apellido"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="segundoApellido" class="block text-sm font-medium text-gray-900">Apellido Materno</label>
        <div class="mt-2">
          <input
            id="segundoApellido"
            name="segundoApellido"
            type="text"
            [(ngModel)]="segundoApellido"
            autocomplete="segundoApellido"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="rut" class="block text-sm font-medium text-gray-900">Rut</label>
        <div class="mt-2">
          <input
            id="rut"
            name="rut"
            type="text"
            [(ngModel)]="rut"
            (input)="onRutInput($event)"
            required
            autocomplete="rut"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>



      <div class="sm:col-span-2">
        <label for="direccion" class="block text-sm font-medium text-gray-900">Dirección</label>
        <div class="mt-2">
          <input
            id="direccion"
            name="direccion"
            type="text"
            [(ngModel)]="direccion"
            required
            autocomplete="direccion"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="telefono" class="block text-sm font-medium text-gray-900">Teléfono</label>
        <div class="mt-2">
          <input
            id="telefono"
            name="telefono"
            type="text"
            [(ngModel)]="telefono"
            autocomplete="telefono"
            class="block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 shadow-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none placeholder:text-gray-400 sm:text-sm"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-end gap-x-6 mt-6">
    <button
      type="button"
      class="text-sm font-semibold text-gray-900 hover:text-gray-600"
      [routerLink]="['/home/perfil']">
      Cancelar
    </button>

    <button
      type="submit"
      [disabled]="savingData"
      class="rounded-md bg-red-700 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-indigo-500"
    >
      Guardar
    </button>
  </div>
</form>

<change-password *ngIf="showChangePasswordModal" (closeModal)="closePasswordModal()"></change-password>
