.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #c8343c;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.btn {
    background-color: black;
    border-color: white;
    --bs-btn-active-bg: #c8343c;
    --bs-btn-active-border-color: black;
}

p {
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}