/* Estilos para el header */
header {
  background-color: #ce0019;
}

.nav-link {
  color: whitesmoke;
  text-shadow: 0px 8px 10px rgba(0,0,0,0.8);
  transition: color 0.3s ease;
}

.nav-link:hover {
  opacity: 0.7;
}

.btn-outline-primary {
  color: whitesmoke;
  border-color: whitesmoke;
  --bs-btn-hover-bg: #800000;
  --bs-btn-active-bg: rgb(156, 3, 21);
  --bs-btn-active-border-color: rgba(0, 0, 0, 0.9);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

/* Estilos para el botón de carrito */
.carrito-button {
  background-color: white;
  border-color: transparent;
  padding: 6px 10px;

}

.icon-png {
  max-width: 24px;
  height: auto;
}

/* Ajustar el tamaño del logo */
.logo-duarte-letras {
  width: 250px;
  height: auto;
}

/* Estilos para el texto y la imagen del usuario */
.header-right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.admin-text {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}

.admin-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.admin-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-right-section .d-flex {
  display: flex;
  align-items: center;
}

.header-right-section .me-2 {
  margin-right: 10px;
}

.admin-link {
  text-decoration: none;
  color: inherit; /* Mantiene el color del texto */
}
