<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0 mb-0 border-bottom">
  <div class="col-md-3 mb-2">
    <a href="/dashboard" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="logo-duarte-letras" src="../../../assets/img/logo-duarte-letras.png" alt="logo-duarte-letras">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/inicio" class="nav-link px-2">Inicio</a></li>
    <li><a href="/productos" class="nav-link px-2">Productos</a></li>
    <li><a href="/mis-pedidos" class="nav-link px-2">Mis Pedidos</a></li>
    <li><a href="/mis-datos" class="nav-link px-2">Mis Datos</a></li>
    <li><a href="/sobre-nosotros" class="nav-link px-2">Sobre Nosotros</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary">
      Cerrar Sesión
    </button>
  </div>
</header>
