<div class="carousel">
  <div class="slides">
    <div class="slide">
      <img src="../../../assets/img/img-duarte/fondocarne.png" alt="Imagen 1" />
    </div>
    <div class="slide">
      <img src="../../../assets/img/img-duarte/vacuno.png"  alt="Imagen 2" />
    </div>
    <div class="slide">
      <img src="../../../assets/img/img-duarte/cerdo.png" alt="Imagen 3" />
    </div>
  </div>
  <div class="carousel-caption">
    <div class="caption-box">
      <h1 class="imprenta">
        "Orgullosos de ofrecer la mejor calidad de carne con más de diez años en el mercado"
      </h1>
      <p class="acorde"></p>
    </div>
  </div>
</div>
