<div class="modal-overlay" *ngIf="modalOpen">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Cambiar Contraseña</h2>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="changePassword()">
          <div class="custom-row">
            <div class="custom-column">
              <label class="custom-label" for="newPassword">Nueva contraseña</label>
              <input
                class="custom-input"
                type="password"
                id="newPassword"
                [(ngModel)]="newPassword"
                name="newPassword"
                required
              />
            </div>
          </div>
          <div class="custom-row">
            <div class="custom-column">
              <label class="custom-label" for="confirmPassword">Confirmar contraseña</label>
              <input
                class="custom-input"
                type="password"
                id="confirmPassword"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
              />
            </div>
          </div>
          <div class="modal-buttons">
            <button class="modal-button cancel" type="button" (click)="closeModalDialog()">Cancelar</button>
            <button class="modal-button accept" type="submit">Actualizar Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="showSpinner" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
