.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.receipt {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.receipt-header {
  text-align: center;
  margin-bottom: 20px;
}

.receipt-title {
  font-size: 24px;
  color: #000000;
}

.receipt-date {
  font-size: 14px;
  color: #666666;
}

.organization-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.organization-rut, .organization-address, .organization-phone, .user-rut {
  font-size: 14px;
  margin-bottom: 5px;
}

.receipt-content {
  margin-bottom: 20px;
}

.receipt-items {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.receipt-items th, .receipt-items td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.receipt-items th {
  background-color: #f2f2f2;
}

.receipt-items td {
  font-size: 14px;
}

.receipt-summary {
  text-align: right;
  margin-top: 20px;
}

.pdf-button {
  margin-top: 10px;
  background-color: #25D366
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta según sea necesario */
  margin-bottom: 12.9rem;
}
