<header-component></header-component>

<div class="spinner-container" *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
  <p>Cargando detalle de orden...</p>
</div>

<div class="container" *ngIf="!loading">
  <div *ngIf="order" class="receipt">
    <div class="receipt-header">
      <h2 class="receipt-title">Comprobante de pedido</h2>
      <p class="receipt-date">Fecha de Emisión: {{ formatDate(order.createdAt) }} Hora: {{ formatTime(order.createdAt) }}</p>
      <p class="organization-name">{{ organization.nombre }} R.U.T.:  {{ formatRutOrganization(organization.rut) }}</p>
      <p class="organization-address">Dirección: {{ organization.direccion }}</p>
      <p class="organization-phone">Contacto: {{ organization.telefono }}</p>
      <p class="user-rut" *ngIf="userRut !== undefined">RUT del Cliente: {{ formatRutUserData(userRut) }}</p>
      <p class="user-rut" *ngIf="userRut === undefined">RUT del Cliente: N/A</p>
    </div>

    <div class="receipt-content">
      <table class="receipt-items">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio por Kilo</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of order.items">
          <td>{{capitalizeFirstLetter(item.tipo) }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precioPorKilo | currency:'CLP ':'symbol':'1.0-0' }}</td>
          <td>{{ item.subtotal | currency:'CLP ':'symbol':'1.0-0' }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4" style="text-align: right; font-weight: bold;"><strong>Total:</strong></td>
          <td>{{ order.total | currency:'CLP ':'symbol':'1.0-0' }}</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <div class="receipt-actions">
      <button class="btn btn-secondary pdf-button" (click)="openPdf()">Enviar comprobante WhatsApp</button>
    </div>
  </div>
</div>

<footer-component></footer-component>
