/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(206, 0, 25, 0.9); 
}

/* color sugerido= bb4a50 */
/* color primario= rgba(206, 0, 25, 0.8) */
/* color secundario= #ffc55a */


.logo-duarte-letras {
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente según el ancho especificado */
    margin-left: 5%;
}

/* linea superior footer */
footer {
    border-top: 1px solid whitesmoke;
}

