/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
    background-color: #bb4a50; 
}

/* color sugerido= bb4a50 */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #bb4a50; 
    /* background-color: black; */
}

.logo-duarte-circ {
    height: 130px;
    margin-bottom: 10px;
}

.logo-duarte-letras {
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente según el ancho especificado */
    margin-left: 20%;
}

/* linea superior footer */
footer {
    border-top: 1px solid whitesmoke;
  }

.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

p {
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}

.form-floating {
    text-align: start;
    margin-left: 5px;
}

.errorlabel {
    color: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    margin-left: 5px;
}

